global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node"
    static_configs:
      - targets: ["monitoring-node-exporter-server:9100"]

  - job_name: "web"
    static_configs:
      - targets: ["nginx-exporter:9113"]
